/Practica1_1/nbproject/private/
/Practica1_1/build/
/Practica1_Alex/nbproject/private/
/examenParcial1/nbproject/private/
/examenParcial1/build/
/examenParcial1/dist/
/arreglosDeObjetos/nbproject/private/
/Practica_2_1/nbproject/private/
/Practica_2_1/build/
/Practica_2_1/dist/
